.Loader {
  width: 100%;
  min-height: 600px;
  display: grid;
  place-items: center;
}

.Loader span {
  width: 44px;
  height: 44px;
  border: 5px solid black;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: rotate 1s ease infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
